extends layout

block content
  .row.banner
    .col-12
      h1(style="margin-top:100px")= title

  .row
    .col-12.col-lg-8
      p
        | Welcome to our travel and tourism application, designed to help you discover incredible places and experiences.
        | <br /><br />
        | Whether you're seeking adventure, relaxation, or cultural exploration, we provide everything you need to plan your perfect trip.