extends layout

block content
  .row.banner
    .col-12
      h1(style="margin-top:100px") Contact Us Here!
      p
        | EMAIL:    t&tourism12@gmail.com
        | <br /><br />
        |    
  .row
    .col-12.col-md-8
      form(action="/contact", method="post", role="form") // Change the action as needed
        label(for="name") Name : 
        input(type="text", id="name", name="name", required)
        br
        label(for="email") Email : 
        input(type="email", id="email", name="email", required)
        br