extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      form(action="/submit_review", method="POST")
        label(for="name") Name : 
        input(type="text", id="name", name="name", required)
        br
        label(for="email") Email : 
        input(type="email", id="email", name="email", required)
        br
        